._insert_edit_link {
	position: absolute;
	z-index: 99;
	background-color: #00AA00;
	font-size: x-small;
	margin-top: -1em;
}
._insert_highlight {
	background-color: #00AA00;
}
._insert_container {
	min-height: 1em;
	min-width: 4em;
}
._insert_container table.fieldset, ._insert_group_container table.fieldset {
	vertical-align: top;
	background-color: #00AA00;
}
